/**
 * sass/variables/parts/files/sections.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// SECTION STYLES
$section-height: auto;
$section-overview-height: 33.75rem;
$section-overview-text-heading-color: $grayscale-0;
$section-overview-text-body-color: $grayscale-4;
$section-background-color: $grayscale-0;
$section-margin: $margin-sm;
$section-padding: $padding-none;
$section-card-height: 20.00rem;
$section-card-color: $color-penserv3;