/**
 * sass/variables/colors/penserv/2019/files/penserv-green.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// PENSERV GREEN COLLECTION
$penserv-green-0: #ffffff;
$penserv-green-1: #f1f6ec;
$penserv-green-2: #e3eed9;
$penserv-green-3: #d4e5c6;
$penserv-green-4: #c6ddb3;
$penserv-green-5: #b8d4a0;
$penserv-green-6: #aacb8e;
$penserv-green-7: #9cc37b;
$penserv-green-8: #8dba68;
$penserv-green-9: #7fb255;
$penserv-green-10: #71a942;
$penserv-green-11: #66983b;
$penserv-green-12: #5a8735;
$penserv-green-13: #4f762e;
$penserv-green-14: #446528;
$penserv-green-15: #395521;
$penserv-green-16: #2d441a;
$penserv-green-17: #223314;
$penserv-green-18: #17220d;
$penserv-green-19: #0b1107;
$penserv-green-20: #000000;

// PENSERV-GREEN-LIGHT
$penserv-green-light-1: lighten($penserv-green, 8.33%);
$penserv-green-light-2: lighten($penserv-green, 16.66%);
$penserv-green-light-3: lighten($penserv-green, 25.00%);
$penserv-green-light-4: lighten($penserv-green, 33.33%);
$penserv-green-light-5: lighten($penserv-green, 41.66%);
$penserv-green-light-6: lighten($penserv-green, 50.00%);
$penserv-green-light-7: lighten($penserv-green, 58.33%);
$penserv-green-light-8: lighten($penserv-green, 66.66%);
$penserv-green-light-9: lighten($penserv-green, 75.00%);
$penserv-green-light-10: lighten($penserv-green, 83.33%);
$penserv-green-light-11: lighten($penserv-green, 91.66%);
$penserv-green-light-12: lighten($penserv-green, 100.00%);

// PENSERV-GREEN-DARK
$penserv-green-dark-1: darken($penserv-green, 8.33%);
$penserv-green-dark-2: darken($penserv-green, 16.66%);
$penserv-green-dark-3: darken($penserv-green, 25.00%);
$penserv-green-dark-4: darken($penserv-green, 33.33%);
$penserv-green-dark-5: darken($penserv-green, 41.66%);
$penserv-green-dark-6: darken($penserv-green, 50.00%);
$penserv-green-dark-7: darken($penserv-green, 58.33%);
$penserv-green-dark-8: darken($penserv-green, 66.66%);
$penserv-green-dark-9: darken($penserv-green, 75.00%);
$penserv-green-dark-10: darken($penserv-green, 83.33%);
$penserv-green-dark-11: darken($penserv-green, 91.66%);
$penserv-green-dark-12: darken($penserv-green, 100.00%);