/**
 * sass/variables/colors/penserv/2019/files/penserv-blend.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// PENSERV BLEND COLLECTION
$penserv-blend-1: #3c73b8;
$penserv-blend-2: #3a70b3;
$penserv-blend-3: #386daf;
$penserv-blend-4: #366aaa;
$penserv-blend-5: #3467a6;
$penserv-blend-6: #3264a1;
$penserv-blend-7: #30619d;
$penserv-blend-8: #2e5e98;
$penserv-blend-9: #2c5b94;
$penserv-blend-10: #2a588f;
$penserv-blend-11: #29558b;
$penserv-blend-12: #275286;
$penserv-blend-13: #254f82;
$penserv-blend-14: #234c7e;
$penserv-blend-15: #214979;
$penserv-blend-16: #1f4675;
$penserv-blend-17: #1d4370;
$penserv-blend-18: #1b406c;
$penserv-blend-19: #193d67;
$penserv-blend-20: #173a63;
$penserv-blend-21: #15375e;