/**
 * sass/variables/colors/penserv/2019/files/penserv-navy.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// PENSERV NAVY COLLECTION
$penserv-navy-0: #ffffff;
$penserv-navy-1: #e8ebef;
$penserv-navy-2: #d0d7df;
$penserv-navy-3: #b9c3cf;
$penserv-navy-4: #a1afbf;
$penserv-navy-5: #8a9bae;
$penserv-navy-6: #73879e;
$penserv-navy-7: #5b738e;
$penserv-navy-8: #445f7e;
$penserv-navy-9: #2c4b6e;
$penserv-navy-10: #15375e;
$penserv-navy-11: #133255;
$penserv-navy-12: #112c4b;
$penserv-navy-13: #0f2642;
$penserv-navy-14: #0d2138;
$penserv-navy-15: #0b1c2f;
$penserv-navy-16: #081626;
$penserv-navy-17: #06101c;
$penserv-navy-18: #040b13;
$penserv-navy-19: #020509;
$penserv-navy-20: #000000;

// PENSERV-NAVY-LIGHT
$penserv-navy-light-1: lighten($penserv-navy, 8.33%);
$penserv-navy-light-2: lighten($penserv-navy, 16.66%);
$penserv-navy-light-3: lighten($penserv-navy, 25.00%);
$penserv-navy-light-4: lighten($penserv-navy, 33.33%);
$penserv-navy-light-5: lighten($penserv-navy, 41.66%);
$penserv-navy-light-6: lighten($penserv-navy, 50.00%);
$penserv-navy-light-7: lighten($penserv-navy, 58.33%);
$penserv-navy-light-8: lighten($penserv-navy, 66.66%);
$penserv-navy-light-9: lighten($penserv-navy, 75.00%);
$penserv-navy-light-10: lighten($penserv-navy, 83.33%);
$penserv-navy-light-11: lighten($penserv-navy, 91.66%);
$penserv-navy-light-12: lighten($penserv-navy, 100.00%);

// PENSERV-NAVY-DARK
$penserv-navy-dark-1: darken($penserv-navy, 8.33%);
$penserv-navy-dark-2: darken($penserv-navy, 16.66%);
$penserv-navy-dark-3: darken($penserv-navy, 25.00%);
$penserv-navy-dark-4: darken($penserv-navy, 33.33%);
$penserv-navy-dark-5: darken($penserv-navy, 41.66%);
$penserv-navy-dark-6: darken($penserv-navy, 50.00%);
$penserv-navy-dark-7: darken($penserv-navy, 58.33%);
$penserv-navy-dark-8: darken($penserv-navy, 66.66%);
$penserv-navy-dark-9: darken($penserv-navy, 75.00%);
$penserv-navy-dark-10: darken($penserv-navy, 83.33%);
$penserv-navy-dark-11: darken($penserv-navy, 91.66%);
$penserv-navy-dark-12: darken($penserv-navy, 100.00%);