/**
 * sass/variables/colors/penserv/2019/files/penserv-blue.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// PENSERV BLUE COLLECTION
$penserv-blue-0: #ffffff;
$penserv-blue-1: #ebf1f8;
$penserv-blue-2: #d8e3f1;
$penserv-blue-3: #c4d5ea;
$penserv-blue-4: #b1c7e3;
$penserv-blue-5: #9db9db;
$penserv-blue-6: #8aabd4;
$penserv-blue-7: #779dcd;
$penserv-blue-8: #638fc6;
$penserv-blue-9: #4f81bf;
$penserv-blue-10: #3c73b8;
$penserv-blue-11: #3668a6;
$penserv-blue-12: #305c93;
$penserv-blue-13: #2a5181;
$penserv-blue-14: #24456e;
$penserv-blue-15: #1e3a5c;
$penserv-blue-16: #182e4a;
$penserv-blue-17: #122237;
$penserv-blue-18: #0c1725;
$penserv-blue-19: #060b12;
$penserv-blue-20: #000000;

// PENSERV-BLUE-LIGHT
$penserv-blue-light-1: lighten($penserv-blue, 8.33%);
$penserv-blue-light-2: lighten($penserv-blue, 16.66%);
$penserv-blue-light-3: lighten($penserv-blue, 25.00%);
$penserv-blue-light-4: lighten($penserv-blue, 33.33%);
$penserv-blue-light-5: lighten($penserv-blue, 41.66%);
$penserv-blue-light-6: lighten($penserv-blue, 50.00%);
$penserv-blue-light-7: lighten($penserv-blue, 58.33%);
$penserv-blue-light-8: lighten($penserv-blue, 66.66%);
$penserv-blue-light-9: lighten($penserv-blue, 75.00%);
$penserv-blue-light-10: lighten($penserv-blue, 83.33%);
$penserv-blue-light-11: lighten($penserv-blue, 91.66%);
$penserv-blue-light-12: lighten($penserv-blue, 100.00%);

// PENSERV-BLUE-DARK
$penserv-blue-dark-1: darken($penserv-blue, 8.33%);
$penserv-blue-dark-2: darken($penserv-blue, 16.66%);
$penserv-blue-dark-3: darken($penserv-blue, 25.00%);
$penserv-blue-dark-4: darken($penserv-blue, 33.33%);
$penserv-blue-dark-5: darken($penserv-blue, 41.66%);
$penserv-blue-dark-6: darken($penserv-blue, 50.00%);
$penserv-blue-dark-7: darken($penserv-blue, 58.33%);
$penserv-blue-dark-8: darken($penserv-blue, 66.66%);
$penserv-blue-dark-9: darken($penserv-blue, 75.00%);
$penserv-blue-dark-10: darken($penserv-blue, 83.33%);
$penserv-blue-dark-11: darken($penserv-blue, 91.66%);
$penserv-blue-dark-12: darken($penserv-blue, 100.00%);