/**
 * sass/variables/colors/generated/primary/files/penserv2.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// COLOR-PENSERV2-LIGHT
$color-penserv2-light-1: lighten($color-penserv2, ($color-adjustment-base * 1.00));
$color-penserv2-light-2: lighten($color-penserv2, ($color-adjustment-base * 2.00));
$color-penserv2-light-3: lighten($color-penserv2, ($color-adjustment-base * 3.00));
$color-penserv2-light-4: lighten($color-penserv2, ($color-adjustment-base * 4.00));
$color-penserv2-light-5: lighten($color-penserv2, ($color-adjustment-base * 5.00));
$color-penserv2-light-6: lighten($color-penserv2, ($color-adjustment-base * 6.00));
$color-penserv2-light-7: lighten($color-penserv2, ($color-adjustment-base * 7.00));
$color-penserv2-light-8: lighten($color-penserv2, ($color-adjustment-base * 8.00));
$color-penserv2-light-9: lighten($color-penserv2, ($color-adjustment-base * 9.00));
$color-penserv2-light-10: lighten($color-penserv2, ($color-adjustment-base * 10.00));
$color-penserv2-light-11: lighten($color-penserv2, ($color-adjustment-base * 11.00));
$color-penserv2-light-12: lighten($color-penserv2, ($color-adjustment-base * 12.00));

// COLOR-PENSERV2-DARK
$color-penserv2-dark-1: darken($color-penserv2, ($color-adjustment-base * 1.00));
$color-penserv2-dark-2: darken($color-penserv2, ($color-adjustment-base * 2.00));
$color-penserv2-dark-3: darken($color-penserv2, ($color-adjustment-base * 3.00));
$color-penserv2-dark-4: darken($color-penserv2, ($color-adjustment-base * 4.00));
$color-penserv2-dark-5: darken($color-penserv2, ($color-adjustment-base * 5.00));
$color-penserv2-dark-6: darken($color-penserv2, ($color-adjustment-base * 6.00));
$color-penserv2-dark-7: darken($color-penserv2, ($color-adjustment-base * 7.00));
$color-penserv2-dark-8: darken($color-penserv2, ($color-adjustment-base * 8.00));
$color-penserv2-dark-9: darken($color-penserv2, ($color-adjustment-base * 9.00));
$color-penserv2-dark-10: darken($color-penserv2, ($color-adjustment-base * 10.00));
$color-penserv2-dark-11: darken($color-penserv2, ($color-adjustment-base * 11.00));
$color-penserv2-dark-12: darken($color-penserv2, ($color-adjustment-base * 12.00));