/**
 * sass/theme/text/links/a.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/8/2019
 * Updated | 
 * Notes | 
**/

// A
a {
    // GLOBAL
    text-decoration: none;
    color: $color-link;

    &:hover {
        text-decoration: none;
        color: $color-link-hover;
        cursor: pointer;
    } //:HOVER

    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &.link {
        // GLOBAL
        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE

        &-address {
            // GLOBAL
            color: inherit;

            &:hover {
                text-decoration: none;
                color: $color-link-hover;
                cursor: pointer;
            } //:HOVER

            // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

            // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

            // BROWSERS
            @media #{$browser-ie} {} //IE
        } //.LINK-ADDRESS

        &-phone {
            // GLOBAL
            color: inherit;
            cursor: default;

            &:hover {
                color: inherit;
                cursor: default;
            } //:HOVER

            // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

            // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

            // BROWSERS
            @media #{$browser-ie} {} //IE
        } //.LINK-PHONE
    } //A.LINK
} //A