/**
 * sass/theme/layouts/devices.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

.mobile {
    // GLOBAL
    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &-show {
        // GLOBAL
        visibility: visible;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {
            visibility: hidden;
        } //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.MOBILE-SHOW

    &-hide {
        // GLOBAL
        visibility: hidden;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {
            visibility: visible;
        } //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.MOBILE-HIDE
} //.MOBILE

.tablet {
    // GLOBAL
    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &-show {
        // GLOBAL
        visibility: hidden;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {
            visibility: visible;
        } //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {
            visibility: hidden;
        } //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.TABLET-SHOW

    &-hide {
        // GLOBAL
        visibility: visible;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {
            visibility: hidden;
        } //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {
            visibility: visible;
        } //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.TABLET-HIDE
} //.TABLET

.desktop {
    // GLOBAL
    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &-show {
        // GLOBAL
        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {
            visibility: hidden;
        } //MOBILE

        // DESKTOP
        @media #{$screen-lg} {
            visibility: visible;
        } //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.DESKTOP-SHOW

    &-hide {
        // GLOBAL
        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {
            visibility: visible;
        } //MOBILE

        // DESKTOP
        @media #{$screen-lg} {
            visibility: hidden;
        } //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.DESKTOP-HIDE
} //.DESKTOP