/**
 * sass/theme/layouts/wrappers.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

.wrapper {
    // GLOBAL
    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &-content {
        // GLOBAL
        margin: 0.00rem auto !important;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {
            width: 100.00%;
        } //MOBILE

        // DESKTOP
        @media #{$screen-lg} {
            width: $site-width-min !important;
            max-width: $site-width-max !important;
        } //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {
            width: $site-width-min !important;
            max-width: $site-width-max !important;
            margin: 0.00rem auto !important;
        } //IE
    } //.WRAPPER-CONTENT

    &-full {
        // GLOBAL
        min-height: 100vh !important;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-FULL

    &-page {
        // GLOBAL
        min-height: $page-height;
        margin: $page-margin;
        padding: $page-padding;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-PAGE

    &-header {
        // GLOBAL
        min-height: $header-height;
        margin: $header-margin;
        padding: $header-padding;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-HEADER

    &-footer {
        // GLOBAL
        min-height: $footer-height;
        margin: $footer-margin;
        padding: $footer-padding;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-FOOTER

    &-section {
        // GLOBAL
        min-height: $section-height;
        margin: $section-margin;
        padding: $section-padding;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-SECTION

    &-banner {
        // GLOBAL
        min-height: $banner-height;
        margin: $banner-margin;
        padding: $banner-padding;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-BANNER

    &-none {
        // GLOBAL
        padding: $padding-none;
        
        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.WRAPPER-NONE
} //.WRAPPER