/**
 * sass/variables/text/files/body.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// BODY TEXT
$body-text-color: $grayscale-14;
$body-text-height: $line-height-normal;
$body-text-size: $font-size-base;
$body-text-weight: 400;
$body-text-kerning: $letter-spacing-normal;
$body-text-margin: $margin-xs $margin-none;