/**
 * sass/variables/text/files/headings.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// HEADINGS
$heading-text-color: $color-penserv1;
$heading-text-height: $line-height-condensed;
$heading-text-size: $font-size-base * 1.00;
$heading-text-size-increase: 0.25;
$heading-text-weight: 400;
$heading-text-kerning: $letter-spacing-normal;
$heading-text-margin: $margin-sm $margin-none;