/**
 * sass/variables/text/files/line-height.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// LINE HEIGHTS
$line-height-none: 1.00;
$line-height-condensed: 1.25;
$line-height-normal: 1.50;
$line-height-expanded: 1.75;