/**
 * sass/variables/colors/design/grayscale.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// GRAYSCALE COLLECTION
$grayscale-0: #ffffff;
$grayscale-1: #f2f2f2;
$grayscale-2: #e5e5e5;
$grayscale-3: #d9d9d9;
$grayscale-4: #cccccc;
$grayscale-5: #bfbfbf;
$grayscale-6: #b2b2b2;
$grayscale-7: #a6a6a6;
$grayscale-8: #999999;
$grayscale-9: #8c8c8c;
$grayscale-10: #808080;
$grayscale-11: #737373;
$grayscale-12: #666666;
$grayscale-13: #595959;
$grayscale-14: #4c4c4c;
$grayscale-15: #404040;
$grayscale-16: #333333;
$grayscale-17: #262626;
$grayscale-18: #191919;
$grayscale-19: #0d0d0d;
$grayscale-20: #000000;