/**
 * sass/variables/parts/sections/services/services.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/15/2019
 * Updated | 
 * Notes | 
**/

// VARIABLES
$services-color: $color-penserv3;
$services-background: $color-penserv3-light-12;
$services-border: $color-penserv1;

// #SERVICES-ADMINISTRATION
$services-administration-color: $services-color;
@import "files/plan-administration";

// #SERVICES-RECORDKEEPING
$services-recordkeeping-color: $services-color;
@import "files/recordkeeping";

// #SERVICES-CONSULTING
$services-consulting-color: $services-color;
@import "files/consulting";

// #SERVICES-ADVOCACY
$services-advocacy-color: $services-color;
@import "files/advocacy";