/**
 * sass/parts/sections/files/section-overview/files/section-background-overlay.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/14/2019
 * Updated | 
 * Notes | 
**/

.section-background-overlay {
    // GLOBAL
    height: 100.00%;
    width: 100.00%;
    display: block;
    position: absolute;
    z-index: 1;

    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    &-1 {
        // GLOBAL
        height: 100.00%;
        width: 100.00%;
        display: block;
        position: absolute;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.SECTION-BACKGROUND-OVERLAY-1

    &-2 {
        // GLOBAL
        height: 100.00%;
        width: 100.00%;
        display: block;
        position: absolute;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.SECTION-BACKGROUND-OVERLAY-2

    &-3 {
        // GLOBAL
        height: 100.00%;
        width: 100.00%;
        display: block;
        position: absolute;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.SECTION-BACKGROUND-OVERLAY-3

    &-4 {
        // GLOBAL
        height: 100.00%;
        width: 100.00%;
        display: block;
        position: absolute;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.SECTION-BACKGROUND-OVERLAY-4

    &-5 {
        // GLOBAL
        height: 100.00%;
        width: 100.00%;
        display: block;
        position: absolute;

        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //.SECTION-BACKGROUND-OVERLAY-5
} //.SECTION-BACKGROUND-OVERLAY