/**
 * sass/variables/images/penserv/logos/2019.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// LOGOS
$logo-penserv-fullhorizontal-color: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullhorizontal-color.svg");
$logo-penserv-fullhorizontal-white: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullhorizontal-white.svg");
$logo-penserv-fullhorizontal: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullhorizontal.svg");
$logo-penserv-fullvertical-color: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullvertical-color.svg");
$logo-penserv-fullvertical-white: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullvertical-white.svg");
$logo-penserv-fullvertical: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-fullvertical.svg");
$logo-penserv-icon-color: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-icon-color.svg");
$logo-penserv-icon-white: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-icon-white.svg");
$logo-penserv-icon: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-icon.svg");
$logo-penserv-wordmark1-color: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark1-color.svg");
$logo-penserv-wordmark1-white: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark1-white.svg");
$logo-penserv-wordmark1: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark1.svg");
$logo-penserv-wordmark2-color: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark2-color.svg");
$logo-penserv-wordmark2-white: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark2-white.svg");
$logo-penserv-wordmark2: url("#{$theme-path}/assets/images/logos/2019/logo-penserv-wordmark2.svg");