/**
 * sass/variables/objects/files/forms.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/7/2019
 * Updated | 
 * Notes | 
**/

// FORM STYLES
$form-font: $body-text;
$form-margin: $margin-xs $margin-none;
$form-padding: $padding-xxs;
$form-background: $grayscale-1;
$form-border: $grayscale-4;
$form-border-radius: 0.00rem;