/**
 * sass/theme/objects/buttons/base.scss
 * @package PenServ
 * @author Scott Shealy
 * @version 1.1.0
 * Created | 8/8/2019
 * Updated | 
 * Notes | 
**/

// ALL BUTTONS
.button-ghost, .button-solid, .button-mobile, .elementor-button, .btn-slider, input.wpcf7-form-control.wpcf7.submit {
    // GLOBAL
    font-family: $button-font;
    font-size: $button-font-size;
    text-align: center;
    text-transform: none;
    display: inline-block;
    margin: $button-margin;
    padding: $button-padding;
    border-radius: $border-radius !important;

    &:hover {
        cursor: pointer;
    } //:HOVER

    // MOBILE
    @media #{$screen-xs} {} //COL-XS
    @media #{$screen-sm} {} //COL-SM
    @media #{$screen-md} {} //COL-MD
    @media #{$device-mobile} {} //MOBILE

    // DESKTOP
    @media #{$screen-lg} {} //COL-LG
    @media #{$screen-xl} {} //COL-XL

    // BROWSERS
    @media #{$browser-ie} {} //IE

    i {
        // GLOBAL
        margin-left: $margin-none;
        
        // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

        // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

        // BROWSERS
        @media #{$browser-ie} {} //IE
    } //I
} //.ALL

// @IMPORT | FILES
@import "files/button-ghost";
@import "files/button-solid";
@import "files/button-mobile";